body{
  padding: 0;
  margin: auto;
  background-color: #FAF5E5; 
  color: #000;
}
body.dark {
  background-color: #1a0e09bb; 
  color: #fff;
}
body p{
  margin: 0;
}
body h2{
  margin: 0;
}
.block-sign{
  margin-left: 33px;
  padding: 0.5px 11px;
  border: 0.5px solid #FFFFFF;
  border-radius: 9px;
  background-color: #FFFFFF;
  cursor: pointer;
}
body.dark .block-sign{
  border: 0.5px solid #000000;
  background-color: #000000;
  color: #FAF5E5;
}